$primary-color: #21215e;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$border: #fab03a;

// Small devices
@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
