@import "vars";

#connectContainer{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 450px;
    padding-top: 75px;
    padding-bottom: 50px;
    border-radius: 15px;
    background-color: #EDF1F4;
    .linkedinlogo{
        text-align: center;
    }
    img{
        height:85%;
        width:45%;
        border: 1px solid #000000;
        border-radius: 15px;
    }
    h1{
        text-align: center;
        padding-bottom: 20px;
        font-weight: 900;
    }
}