@import "vars";

* {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}



html {
    scrollbar-color: #bebebe #d9dde0;
}

/* ----------------------------------------------------------------- NAVBAR ---------------------------------------------------------*/

header {
    margin-bottom: 5%;

    nav {
        height:80px;
        border-bottom: #FFAB40 solid 3px;
        display:flex;
        align-items: center;
        background-color: white;

        .logoContainer {
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            width:10%;
            margin-left:1%;

            img {
                height: 55%;
                background-color: white;
            }
        }

        .linksContainer {
            height:100%;
            display:flex;
            align-items: center;
            width:25%;

            .links {
                width:50%;
                text-align: center;
                font-size:22px;
                text-decoration: none;
                color:black;
                font-weight:600;
            }
        }

    }

}

#filterContainer {
    width:100%;
    height:100%;
    position:absolute;
    background-color: black;
    opacity: 60%;
    top:0;
}


#Boards {
    display: flex;
    flex-wrap: wrap;

    .filterBoards {
        display: flex;
        flex-direction: column;
        width: 15%;

        .filterTitle {
            font-size: 28px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 20px;

        }

        .filters {
            width: 90%;
            margin: 0 auto 20px auto;

            #myInput {
                width: 100%;
                font-size: 16px;
            }
        }

        .order {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            font-size: 16px;

            input {
                margin: 5px 0 5px 30px;
            }
        }
    }


    .container {
        height: 65vh;
        justify-content: center;
        max-width: 80%;
        margin: 0 0 0 0;


        .containerContent {
            width: 98%;
            margin: auto;
            height: 100%;
            overflow: auto;
        }
    }


    .cardHorizontal {
        border: solid 2px #4e555b;
        display: flex;
        flex: 1 1 auto;
        margin: auto auto 2vh;
        width: 85%;
        cursor: pointer;
        background-color: white;
        height: 120px;

        .cardBody {
            display: flex;
            align-items: center;
            margin-left: 2%;

            .cardTitle {
                font-size: 44px;
                width: 300px;
            }


            .deadline {
                font-size: 32px;
                align-self: flex-end;
                margin-left: 300px;
            }
        }


        .statut {
            border-right: solid 2px #4e555b;
            align-content: center;
            width: 12rem;
        }
    }
}

.new-demande {
    margin: 5vh auto 50px auto;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-newdemand {
    background-color: #343434;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius:50%;
    height:80px;
    width:80px;
    font-size:64px;
    font-weight:bold;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:200px auto 0 auto;


    &:hover {
        text-decoration: none;
        color: white;
        border-radius:50%;
        height:80px;
        width:80px;
        font-size:64px;
        font-weight:bold;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;



        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}


.hidden {

    display:none !important;
    transition:2s ease;

}


/* ----------------------------------------------------------------- CARDS ADVISORS  ---------------------------------------------------------*/
#advisors {

    display:flex;
    flex-wrap: wrap;

    .filterAdvisors {
        display: flex;
        flex-direction: column;
        border-radius: 8%;
        width: 10%;
        height: 250px;
        align-items: center;
        cursor: pointer;

        #myInput {
            width: 90%;
            font-size: 22px;
        }
    }

    #allCardsContainer {
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        height: 70vh;
        padding: 2rem 5em;
        overflow: auto;

        .cardAdvisors {
            display: flex;
            flex-direction: column;
            margin: 2.7rem 2rem 2.7rem;
            min-width: 200px;
            height: 320px;
            align-items: center;
            color: black;
            cursor: pointer;
            border: #3d4b80 1px solid ;

            .cardTitle{
                font-size: 2rem;
                text-align: center;
            }

            p{
                font-size: 1.7rem;
                margin-bottom: 5px;
            }

            img {
                height: 250px;
                width: 200px;
                background-color: lightgray;
                border-bottom: #FFAB40 solid 3px;
            }
        }
    }
}

/* ----------------------------------------------------------------- FORM DEMANDS  ---------------------------------------------------------*/

#demandeFormulaire {
    width: 70%;
    z-index: 1;
    height: 80%;
    left: 15%;
    border-radius: 15px;
    background-color: #EDF1F4;
    bottom: 10%;
    position: absolute;
    text-align: center;

    .submitDemand {
        background-color: #0030cc;
        padding: .3em 1em;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 7px;
        color: white;
        text-decoration: none ;
        font-size: 1.7rem ;
        cursor:pointer;
    }

    #demandeFormulaireContent {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        font-size: 16px;

        .demandeFormulaireTitles {
            font-size: 38px;
            margin: 1% auto 2% auto;
            font-weight: bold;
        }

        .demandeFormulaireTitles2 {
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 35px;
        }


        form {
            input {
                height: 30px;
                font-size: 16px;
            }

            input, textarea, .bootstrap-select {
                width: 65%;
                margin: 2% auto;
                font-size: 16px;
            }

            .bootstrap-select {
                width: 80%;
                font-size: 16px;
                background-color: #dfe3e6;
            }


            .dropdown-toggle {
                font-size: 16px;
            }

            .dropdown-menu {
                max-height: 250px !important;
                font-size: 16px;
            }

            .form-control {
                font-size: 16px;
            }
        }
    }
}

/* ----------------------------------------------------------------- DESCRIPTION DEMANDS  ---------------------------------------------------------*/

.modalDescription {
    width: 70%;
    z-index: 1;
    height: 80%;
    left: 15%;
    border-radius: 15px;
    background-color: #EDF1F4;
    bottom: 10%;
    position: absolute;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    padding: 15px;

    .modalDescriptionContainer {
        overflow: auto;
        width: 98%;
        margin: auto;
        height: 100%;

        .modalParts {
            display: flex;
            margin: 6% 0 6% 5%;

            .modalTitles {
                font-size: 28px;
                margin: 0;
                display: flex;
                align-items: center;
                font-weight: 600;
                width: 35%;
            }

            p {
                color: blue;
                text-shadow: black 0.5px 0.5px 0.5px;
                font-size: 25px;
                margin: 0 0 0 20px;
            }
        }

        .tagsModalDescription {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            text-align: center;

            .tags {
                border: 3px blue solid;
                padding: 3px;
                margin: 15px 5%;
                border-radius: 8px;
                background-color: white;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .statutsContainer {

            .modalTitles {
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
                width: 100%;
            }

            .statuts {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 18px;

                .input-radio {
                    margin: 0 5px 0 0;
                    position: relative;
                    width: 200px;
                    height: 70px;
                }

                input[type=radio] {
                    opacity: 0.001;
                    z-index: 100;
                }

                input[type=radio] + label {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                label {
                    cursor: pointer;
                    z-index: 90;
                    border-radius: 15px;
                }

                input[type=radio]:checked + label {
                    border: 1px solid red;
                }

                .radioProposé {
                    background-color: #FFAB40;

                }

                .radioAccepté {
                    background-color: #00A84D;
                }

                .radioModifié {
                    background-color: #FF4040;
                }
            }
        }

        .containerRedirectButton {
            margin: 80px auto 20px auto;
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .redirectButton {
                font-size: 18px;
                padding: 10px;
                border-radius: 10px;
                background-color: blue;
                color: white;

                &:hover {
                    text-decoration: none;
                    color: black;
                }
            }
        }


    }
}


