@import "vars";

*{
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif;;
}


#clientName{
    margin-left: 1em;
    margin-top: 1em;
}

h2 {
    margin: 1.6em;
}

#boardContent{
    display: flex;
    width: 90%;
    min-height: 50vh;
    flex-wrap: wrap;
    border: #3d4b80 2px solid ;
    margin: auto;
    padding: 0.2em;
    justify-content: center;

    .cardAdvisors {
        display: flex;
        flex-direction: column;
        margin: 2.7rem 2rem 2.7rem;
        min-width: 210px;
        height: 320px;
        align-items: center;
        color: black;
        cursor: pointer;
        border: #3d4b80 1px solid ;

        .cardTitle{
            font-size: 1.2rem;
            text-align: center;
        }

        p{
            font-size: 1rem;
            margin-bottom: 5px;
        }

        img{
            height: 250px;
            width: 210px;
            background-color: lightgray;
            border-bottom: #FFAB40 solid 3px;
        }
    }
}

#deadline{
    margin-top: 2em;
}

/************************** AJOUT ADVISOR **************************/

.commentAdvisor{
    margin: calc(50vh - 13%) 0 30px 35%;
    position: absolute;
    display: none;
    width: 30%;
    background-color: white;
    z-index: 10;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 0 10px black;

    form{
        display: flex;
        flex-direction: column;

        textarea{
            padding: 10px;
            width: 100%;
        }

        input{
            padding: 10px;
            font-size: 20px;
            margin: 10px auto 20px auto;
            border: 2px solid $primary-color;
            color: $primary-color;
            background-color: white;
            font-weight: bold;
        }
    }
}

/************************** SUPPRIMER ADVISOR **************************/

.deleteAdvisor {
    margin: calc(50vh - 13%) 0 0 35%;
    position: absolute;
    display: none;
    width: 30%;
    padding: 30px;
    background-color: white;
    z-index: 10;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 10px black;


    p {
        text-align: center;
        font-size: 30px;
    }

    #ddAdvisor {
        width: 70%;
        margin: auto;

        a {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;

            button {
                padding: 10px;
                font-size: 20px;
                border: 2px solid $primary-color;
                color: $primary-color;
                background-color: white;
                font-weight: bold;
                position: center;
            }
        }

        a:hover{
            text-decoration: none;
        }
    }
}

.commentAdvisor.display, .deleteAdvisor.display{
    display: flex;
    margin-top: 0;
}

/************************** FOND NOIR LORS D'UNE POPIN **************************/

#behind {
    position: fixed;
    opacity: 60%;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 5;
    background-color: black;
    margin-top: -5%;
}


#behind.display{
    display: flex;
    cursor: pointer;
}

/************************** BOARD + LISTE ADVISOR **************************/

#boardAndBoardAdvisors {
    display: flex;
    position: fixed;
    width: 100vw;
    margin-top: -4%;

    /************************** BOARD **************************/

    #board {
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
            margin-top: 3%;
            font-size: 5rem;
            font-style: normal;
            font-weight: 600;
            color: $border;
        }

        #boardEdit.hidden{
            display: none;
        }

        #boardEdit {
            width: 80%;
            height: 55vh;
            background-color: white;
            margin: 3% auto 0 auto;
            overflow: auto;
            padding: 10px;
            box-shadow: 0 0 15px gray;
            display: flex;
            flex-flow: row wrap;


            .cardAdvisorJS {
                display: flex;
                flex-direction: column;
                text-align: center;
                outline: solid #21215e;
                position: relative;
                margin: 10px;
                width: calc(25% - 20px);
                height: 70%;

                .pp {
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    border-bottom: 1px solid #21215e;
                }

                #cardAdvisorInfos {
                    padding: 10px;

                    .nameAdvisor {
                        font-weight: bold;
                        font-size: 17px;
                        height: 10%;
                    }

                    .placeAdvisor {
                        display: none;
                    }


                    .idAdvisor {
                        display: none;
                    }
                }

                .cardAdvisorIcons{
                    position: absolute;
                    display: block;
                    top: 5px;
                    right: 5px;
                    width: 100%;
                    z-index: 50;
                    text-align: right;

                    .iconDelete, .iconCv{
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }

                    .iconAdd{
                        display: none;
                    }
                }
            }

            .removeCardAdvisor {
                color: white;
                border-radius: 50%;
                font-size: 50px;
                cursor: pointer;
                width: 50px;
                text-align: center;
                position: relative;
                right: 20%;
                bottom: 23%;
            }

            .cardAdvisorIcons {
                display: none;
            }

            form {
                display: none;
            }
        }

        /************************** BOUTON POUR VOIR LE BOARD **************************/

        #viewBoardAndIcon {
            margin-top: 20px;
        }

        #viewBoard{
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                width: 20%;

                button {
                    width: 100%;
                    padding: 10px;
                    font-size: 3rem;
                    margin: 2% auto auto auto;
                    border: 3px solid $primary-color;
                    color: $primary-color;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            a:hover{
                text-decoration: none;
            }
        }

        #viewBoard.hidden{
            display: none;
        }

        #iconAddAdvisor{
            display: none;
            float: right;

            #addAdvisors{
                width: 60px;
                cursor: pointer;
            }
        }
    }

    /************************** LISTE ADVISOR **************************/

    #boardAdvisors {
        width: 30%;
        height: calc(100vh - 100px);
        overflow: auto;
        justify-content: center;
        padding: 20px;
        border-left: 3px solid $border;

        .cardAdvisorJS {
            width: 100%;
            height: 150px;
            background-color: white;
            margin: 10px auto;
            display: flex;
            position: relative;
            outline: solid #21215e;

            .pp {
                height: 100%;
                border-right: 1px solid #21215e;
            }

            #cardAdvisorInfos {
                padding: 0 10px;
                margin:  auto 0 auto 10px;

                .nameAdvisor {
                    font-weight: bold;
                    font-size: 2.2rem;
                }

                .idAdvisor {
                    display: none;
                }
            }
        }

        .cardAdvisorIcons{
            position: absolute;
            display: block;
            bottom: 5px;
            right: 5px;
            width: 100%;
            z-index: 50;
            text-align: right;

            .iconAdd, .iconCv {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            .iconDelete{
                display: none;
            }
        }

        .removeCardAdvisor {
            display: none;
        }
    }

    #boardAdvisors.display{
        display: block;
        position: absolute;
        width: 60%;
        height: 70%;
        top: 10%;
        left: 20%;
        border-left: none;
        margin-top: 20px;
    }
}

/***************************************************/
/******************* MEDIA QUERY *******************/
/***************************************************/

/******************* MAX 1300PX *******************/

@media screen and (max-width: 1300px){
    #boardAndBoardAdvisors{

        #boardAdvisors{

            .cardAdvisorJS{
                height: 120px;

                .pp{
                    width: 120px;
                    height: 120px;
                }

                #cardAdvisorInfos{

                    .nameAdvisor{
                        font-size: 1.5rem;
                    }
                }

                .cardAdvisorIcons{

                    .iconCv, .iconAdd{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        #board{

            #viewBoard{

                a{
                    width: 30%;

                    button{
                        font-size: 2.5rem;
                    }
                }
            }

            h1{
                font-size: 4rem;
            }

            #boardEdit{

                .cardAdvisorJS {
                    width: calc((100% / 3) - 20px);
                }
            }
        }
    }
}

/******************* MAX 1000PX *******************/

@media screen and (max-width: 1000px) {
    #boardAndBoardAdvisors {

        #boardAdvisors {
            display: none;
        }

        #board{
            width: 100%;

            #viewBoard{
                position: absolute;

                a{
                    width: 30%;

                    button{
                        font-size: 2rem;
                    }
                }
            }

            #boardEdit{

                .cardAdvisorJS{
                    width: 30%;
                    height: auto;

                    #cardAdvisorInfos{

                        .nameAdvisor{
                            font-size: 15px;
                        }
                    }
                }
            }

            #viewBoardAndIcon{

                #iconAddAdvisor{
                    display: block;
                    margin-right: 10px;
                    position: absolute;
                    z-index: 50;
                    right: 0;
                }
            }
        }
    }
}

/******************* MAX 800PX *******************/

@media screen and (max-width: 800px) {
    #boardAndBoardAdvisors {

        #board{

            #boardEdit{

                .cardAdvisorJS{
                    width: calc(50% - 20px);
                    height: auto;
                }
            }
        }
    }
}

/******************* MAX 550PX *******************/

@media screen and (max-width: 550px) {
    #boardAndBoardAdvisors {

        #board{

            #boardEdit{

                .cardAdvisorJS{
                    height: auto;
                }
            }

            #viewBoard{

                a{
                    width: 40%;
                }
            }

            h1{
                font-size: 3rem;
            }

            #boardEdit{

                .cardAdvisorJS{
                    width: 90%;
                }
            }
        }
    }
}

/******************* MAX 400PX *******************/

@media screen and (max-width: 400px) {
    #boardAndBoardAdvisors {

        #board{

            #viewBoard{
                a{
                    width: 50%;
                }
            }

            h1{
                font-size: 2rem;
            }
        }
    }
}


