@import "vars";

*{
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif;;
}

body{
    background-color: white; ;
}
#headerClient{
    margin-bottom: 2px;
    }

#clientName{

    width: 80%;
    margin: 0.8em auto 1em;
    color: #3d4b80;
    background-color: white;
    text-align: center;

}

#boardContent{
    display: flex;
    width: 78%;
    padding: 2em;
    flex-wrap: wrap;
    margin: auto auto 2em;
    justify-content: center;
    background-color:  #3d4b80;
    -webkit-box-shadow: 2px 0 23px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0 23px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 0 23px 1px rgba(0,0,0,0.5);

    .cardAdvisors {
        display: flex;
        flex-direction: column;
        margin: 1.3em;
        min-width: 250px;
        height: 330px;
        align-items: center;
        color: black;
        cursor: pointer;
        background-color: white;
        border: #25254b solid 3px;





        .cardTitle{
            font-size: 1.5rem;
            text-align: center;
        }

        p{
            font-size: 1.3rem;
            margin-bottom: 5px;
        }

        img{
            height: 270px;
            width: 250px;
            background-color: lightgray;
            border-bottom: #3d4b80 solid 2px;
        }
    }

}

footer {

    margin: auto;
    height: 40px;
    background-color: white;
    border-top: white solid 2px;

}
