* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.cvAdvisor.display {
  position: absolute;
  display: flex;
  z-index: 200;
  top: 5%;
  left: 15%;
  height: 90%;
  overflow: auto;
}

.cvAdvisor {
  width: 70%;
  display: none;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
}
.cvAdvisor #pitch {
  width: 100%;
  background-color: #21215e;
  color: white;
  font-size: 20px;
  height: 100%;
}
.cvAdvisor #pitch h1 {
  margin: 20px 3% 0 3%;
}
.cvAdvisor #pitch p {
  width: 60%;
  margin: 20px 3%;
}
.cvAdvisor #pitch .ppCv {
  position: relative;
  text-align: right;
  bottom: 75px;
  right: 200px;
}
.cvAdvisor #pitch .ppCv img {
  background-color: black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
}
.cvAdvisor #allInfosAdvisor {
  padding: 5em;
  display: flex;
}
.cvAdvisor #allInfosAdvisor #advisorEdit {
  display: flex;
  flex-direction: column;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #advisorStatus {
  font-size: 16px;
  position: relative;
  min-height: 20vh;
  min-width: 30vh;
  margin: 5% auto 2em;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.05);
  border: #8b8b8b solid 1px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #advisorStatus .modalTitles {
  font-size: 30px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary {
  font-size: 16px;
  position: relative;
  min-height: 20vh;
  min-width: 30vh;
  margin: 5% auto 2em;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.05);
  border: #8b8b8b solid 1px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary .edit {
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary .edit .commentaryTitle {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary .edit p {
  margin: 3% 5% 60% 5%;
  text-align: justify;
  font-size: 20px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary .edit form {
  height: 60%;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary .edit form textarea {
  padding: 5px;
  margin: 3% 4%;
  resize: none;
  width: 92%;
  min-height: 90%;
  text-align: justify;
  font-size: 20px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #commentary .edit form input {
  margin: 1% 40%;
  width: 20%;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #infosAdvisor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(60% - 100px);
}
.cvAdvisor #allInfosAdvisor #advisorEdit #infosAdvisor .blocInfo:first-child {
  margin-top: 0;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #infosAdvisor .blocInfo {
  margin-top: 50px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #infosAdvisor .blocInfo h2 {
  color: gray;
  margin: 0;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #infosAdvisor .blocInfo h3 {
  margin-top: 15px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #infosAdvisor .blocInfo p {
  margin-top: 10px;
}
.cvAdvisor #allInfosAdvisor #advisorEdit #civilStatus h2 {
  color: #21215e;
}
.cvAdvisor #allInfosAdvisor .tags {
  display: flex;
  flex-wrap: wrap;
}
.cvAdvisor #allInfosAdvisor .tags p {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
}

/*# sourceMappingURL=cvAdvisor.css.map */
