@import "vars";

*{
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif;
}

.cvAdvisor.display{
    position: absolute;
    display: flex;
    z-index: 200;
    top: 5%;
    left: 15%;
    height: 90%;
    overflow: auto;
}

.cvAdvisor{
    width: 70%;
    display: none;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;

    #pitchContainer {
        width: 100%;
        background-color: $primary-color;
        display:flex;
        align-items: center;
        justify-content: space-evenly;

        .pitch {
            color: white;
            min-height: 22Vh;
            font-size: 1.2vw;
            width:80%;




            @media screen and (max-width: 1200px) {
                font-size: 1.8vw;
            }

            @media screen and (max-width: 800px) {
                width:95%;
                text-align: center;

            }

            @media screen and (max-width: 600px) {
                font-size: 2.4vw;
            }

            @media screen and (max-width: 400px) {
                font-size: 3.5vw;
            }

            h1 {
                margin: 20px 3% 0 3%;
                font-size: 1.6vw;


                @media screen and (max-width: 1200px) {
                    font-size: 2.0vw;
                }

                @media screen and (max-width: 800px) {
                    font-size: 2.8vw;
                }

                @media screen and (max-width: 600px) {
                    font-size: 3.4vw;
                }

                @media screen and (max-width: 450px) {
                    font-size: 4.4vw;
                }
            }

            p {
                margin: 20px 3%;
                width: 60%;


                @media screen and (max-width: 800px) {
                    width: 90%;
                    margin:20px auto;
                }

            }
        }





        img{
            background-color: black;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            top:30px;
            right:50px;

            @media screen and (max-width: 800px) {
                display:none;
            }

        }
    }

    #allInfosAdvisor {
        padding: 5em;
        display: flex;

        @media screen and (max-width: 1200px){
            padding:2em;
        }

        @media screen and (max-width: 750px){
            flex-direction: column;

        }

        #advisorEdit {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width:48%;
            @media screen and (max-width: 750px){
                width:100%;
                margin-top:5vh;
            }

            #advisorStatus {
                position: relative;
                min-height: 20vh;
                width: 25vw;
                margin: 5% auto 2em;
                padding: 2em;
                background-color: rgba(0, 0, 0, 0.05);
                border: #8b8b8b solid 1px;

                .modalTitles {
                    font-size: 1.25vw;
                }

                .changeStatus {

                    label {
                        font-size: 0.8vw;
                    }
                }
            }

            #commentary {
                margin:0 auto;
                font-size: 1.20vw;
                position: relative;
                width: 90%;
                padding: 2em;
                background-color: rgba(0, 0, 0, 0.05);
                border: #8b8b8b solid 1px;



                .commentaryTitle {
                    font-weight: bold;
                    text-align: center;

                    @media screen and (max-width: 1200px) {
                        font-size: 2.0vw;
                    }

                    @media screen and (max-width: 800px) {
                        font-size: 2.8vw;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 3.4vw;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 5vw;
                    }
                }

                .edit {
                    top: 0;
                    right: 0;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    cursor: pointer;
                }

                p {
                    margin: 3% 5% 3% 5%;
                    text-align: justify;
                    font-size: 1.25vw;

                    @media screen and (max-width: 1200px) {
                        font-size: 1.8vw;
                    }

                    @media screen and (max-width: 800px) {
                        font-size: 2.6vw;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 3vw;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 4vw;
                    }
                }

                form {
                    height: 60%;

                    textarea {
                        padding: 5px;
                        margin: 3% 4%;
                        resize: none;
                        width: 92%;
                        min-height: 90%;
                        text-align: justify;
                        font-size: 1.25vw;

                        @media screen and (max-width: 1200px) {
                            font-size: 1.8vw;
                        }

                        @media screen and (max-width: 800px) {
                            font-size: 2.6vw;
                        }

                        @media screen and (max-width: 600px) {
                            font-size: 3vw;
                        }

                        @media screen and (max-width: 450px) {
                            font-size: 5vw;
                        }
                    }

                    input {
                        margin: 1% 40%;
                        width: 20%;
                    }
                }
            }
        }

        #infosAdvisor {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 48%;
            margin-right:4%;

            @media screen and (max-width: 750px){
                width:100%;
                margin-right:0%;
            }

            .blocInfo:first-child {
                margin-top: 0;
            }

            .blocInfo {
                margin-top: 50px;

                h2 {
                    color: gray;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size:1.6vw;

                    @media screen and (max-width: 1200px) {
                        font-size: 2.0vw;
                    }

                    @media screen and (max-width: 800px) {
                        font-size: 2.8vw;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 3.4vw;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 6vw;
                    }
                }

                h3 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size:1.4vw;

                    @media screen and (max-width: 1200px) {
                    font-size: 1.8vw;
                    }

                    @media screen and (max-width: 800px) {
                        font-size: 2.6vw;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 3vw;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 4.8vw;
                    }

                }

                h4 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size:1.2vw;

                    @media screen and (max-width: 1200px) {
                        font-size: 1.6vw;
                    }

                    @media screen and (max-width: 800px) {
                        font-size: 2.2vw;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 2.6vw;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 4.4vw;
                    }

                }

                p {
                    margin-top: 10px;
                    font-size: 1vw;
                    @media screen and (max-width: 1200px) {
                        font-size: 1.8vw;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 2.4vw;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 2.9vw;
                    }

                }
            }
        }

        #civilStatus {
            h2 {
                color: $primary-color;
            }
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;

        p {
            margin-left: 10px;
            border: 1px solid black;
            border-radius: 7px;
            padding: 10px;
        }
    }
}

.editProfil {
    display: block;
    padding: 10px;
    font-size: 2vw;
    border: 3px solid #21215e;
    color: #21215e;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    max-width: 40%;
    text-align: center;
    margin: 0 auto 5%;

    @media screen and (max-width: 1200px) {
        font-size: 1.8vw;
    }

    @media screen and (max-width: 600px) {
        font-size: 2.4vw;
    }

    @media screen and (max-width: 400px) {
        font-size: 2.9vw;
    }
}

@media screen and (max-width: 1200px){
    .cvAdvisor {
        width: 85%;
    }

    .cvAdvisor.display {
        left: 7.5%;
    }
}



@media screen and (max-width: 1000px){
    .cvAdvisor {
        width:90%;
    }
    .cvAdvisor.display {
        left:5%;
    }
}
