{% extends 'base.html.twig' %}

{% block title %}Ma Gouvernance{% endblock %}

{% block main %}

    <section id="filterContainer" class="hidden">
    </section>

    <div id="displayCvAdvisor">
        {% include 'cvAdvisor.html.twig' %}
    </div>

    <section id="advisors" >
        <section id="allCardsContainer">
            {% for advisor in advisors %}
                <div class="cardAdvisors">
                    <img src="https://www.laravoire.immo/wp-content/uploads/2017/06/Business-Woman-papers.jpg" alt=""/>
                    <h4 class="cardTitle">{{ advisor.firstname }} {{ advisor.name }}</h4>
                    <p>{{ advisor.place }}</p>
                </div>
            {% endfor %}
        </section>
    <section id="filterContainer" class="hidden">
    </section>
    <section class="filterAdvisors">
        <input type="text" id="myInput" placeholder="Chercher un nom..">
    </section>
    </section>
    {% block javascripts %}
        {{ encore_entry_script_tags('advisors') }}
    {% endblock %}
{% endblock %}

