{% extends 'base.html.twig' %}

{% block title %}Construire le board{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('board') }}
{% endblock %}

{% block body %}

    <div id="boardAndBoardAdvisors">
        <div id="board">
            <h1>Réaliser mon board</h1>


            <div id="boardEdit" class="dropTarget">
                <img src="{{ asset('build/dragAndDrop.png') }}" alt=""/>
                <h2>Déplacer vos advisors ICI !!!</h2>
            </div>
            <button>Valider</button>
        </div>


        <div id="boardAdvisors" class="dropTarget">
            <form action=""></form>
            {% for i in 0..20 %}
                <div id="cardAdvisor" draggable="true">
                    <img src="" alt="">
                    <div id="cardAdvisorInfos">
                        <h4>John Doe</h4>
                        <p>Autres infos utiles</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('board') }}
{% endblock %}
