{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <section class="choices">
        <div id="buttonBoards">Demandes</div>
        <div id="buttonAdvisors">Advisors</div>
    </section>
    <section id="Boards">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="cardClient">
                            <div class="card-horizontal ">
                                <div class="statut bg-danger">
                                   <p>statut</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Demande n°</h4>
                                    <p> Entreprise : </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cardClient">
                            <div class="card-horizontal ">
                                <div class="statut bg-success">
                                    <p>statut</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Demande n°</h4>
                                    <p> Entreprise : </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cardClient">
                            <div class="card-horizontal">
                                <div class="statut bg-success">
                                    <p>statut</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Demande n°</h4>
                                    <p> Entreprise : </p>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="cardClient">
                            <div class="card-horizontal">
                                <div class="statut">
                                    <p>statut</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Demande n°</h4>
                                    <p> Entreprise : </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="cardClient">
                            <div class="card-horizontal">
                                <div class="statut">
                                    <p>statut</p>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Demande n°</h4>
                                    <p> Entreprise :</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="new-demande">
            <a href="" ><button class="new-demand">nouvelle demande +</button></a>
        </div>
    </section>



    <section id="advisors" class="hidden">
        <section class="filters">
            <input type="text" id="myInput" placeholder="Chercher un nom..">
        </section>
        <section id="allCardsContainer">
        {% for i in 0..15 %}
                    <div class="cardAdvisors">
                        <img src="" alt=""/>
                        <h4>John Doe</h4>
                        <p>Autres infos utiles</p>
                    </div>
        {% endfor %}
        </section>
    </section>

{% endblock %}
