{% apply inline_css(source('@scss/mailAdvisor.scss')) %}
    <h3>Bonjour {{ advisor.firstname }},</h3>

    <p>Toute l'équipe de MaGouvernance vous remercie pour votre candidature,<br> nous reviendrons vers vous dès que possible afin de fixer un rendez-vous téléphonique. </p>

    <p>A très bientôt,<br>
        Magouvernance</p>
    <img src="http://magouvernance.fr/wp-content/uploads/2019/05/LOGO-TRANSPARENT.png" alt="logo">
{% endapply %}
