{% block footer %}
<footer>
    <ul>
        <li>
            <a>Politique de confidentialité</a>
        </li>
        <li>
            <a>Mentions légales</a>
        </li>
        <li>
            <a>CGV</a>
        </li>
        <li>
            <a>Qui sommes-nous?</a>
        </li>
    </ul>
</footer>

{% endblock %}
